.navbar {
  background-color: #e2e2e2;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.login-button {
  background-color: #918f8f;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.signup-button {
  background-color: #918f8f;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.login-button:hover,
.signup-button:hover {
  opacity: 0.8;
}
